<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="menu_optical_prescription_config" name="Lens Details" parent="sale.menu_sale_config" sequence="200"/>

    <record id="optical_sph_type_form" model="ir.ui.view">
        <field name="name">optical.sph.type.form</field>
        <field name="model">optical.sph.type</field>
        <field name="arch" type="xml">
            <form>
                <group>
                    <group>
                        <field name="sequence"/>
                        <field name="name"/>
                    </group>
                    <group>
                        <field name="note"/>
                    </group>
                </group>
            </form>
        </field>
    </record>

    <record id="optical_sph_type_tree" model="ir.ui.view">
        <field name="name">optical.sph.type.tree</field>
        <field name="model">optical.sph.type</field>
        <field name="arch" type="xml">
            <tree>
                <field name="sequence" widget="handle"/>
                <field name="name"/>
                <field name="note"/>
            </tree>
        </field>
    </record>

    <!--Action SPH Types -->
    <record id="action_sph_types" model="ir.actions.act_window">
        <field name="res_model">optical.sph.type</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!--Menu SPH Types -->
    <menuitem id="menu_action_sph_types" name="SPH Types" parent="menu_optical_prescription_config" action="action_sph_types" sequence="200"/>

    <record id="optical_cyl_type_form" model="ir.ui.view">
        <field name="name">optical.cyl.type.form</field>
        <field name="model">optical.cyl.type</field>
        <field name="arch" type="xml">
            <form>
                <group>
                    <group>
                        <field name="sequence"/>
                        <field name="name"/>
                    </group>
                    <group>
                        <field name="note"/>
                    </group>
                </group>
            </form>
        </field>
    </record>

    <record id="optical_cyl_type_tree" model="ir.ui.view">
        <field name="name">optical.cyl.type.tree</field>
        <field name="model">optical.cyl.type</field>
        <field name="arch" type="xml">
            <tree>
                <field name="sequence" widget="handle"/>
                <field name="name"/>
                <field name="note"/>
            </tree>
        </field>
    </record>

    <!--Action cyl Types -->
    <record id="action_cyl_types" model="ir.actions.act_window">
        <field name="res_model">optical.cyl.type</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!--Menu cyl Types -->
    <menuitem id="menu_action_cyl_types" name="CYL Types" parent="menu_optical_prescription_config" action="action_cyl_types" sequence="200"/>

    <record id="optical_axis_type_form" model="ir.ui.view">
        <field name="name">optical.axis.type.form</field>
        <field name="model">optical.axis.type</field>
        <field name="arch" type="xml">
            <form>
                <group>
                    <group>
                        <field name="sequence"/>
                        <field name="name"/>
                    </group>
                    <group>
                        <field name="note"/>
                    </group>
                </group>
            </form>
        </field>
    </record>

    <record id="optical_axis_type_tree" model="ir.ui.view">
        <field name="name">optical.axis.type.tree</field>
        <field name="model">optical.axis.type</field>
        <field name="arch" type="xml">
            <tree>
                <field name="sequence" widget="handle"/>
                <field name="name"/>
                <field name="note"/>
            </tree>
        </field>
    </record>

    <!--Action axis Types -->
    <record id="action_axis_types" model="ir.actions.act_window">
        <field name="res_model">optical.axis.type</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!--Menu Add Types -->
    <menuitem id="menu_action_axis_types" name="Axis Types" parent="menu_optical_prescription_config" action="action_axis_types" sequence="200"/>

    <record id="optical_add_type_form" model="ir.ui.view">
        <field name="name">optical.add.type.form</field>
        <field name="model">optical.add.type</field>
        <field name="arch" type="xml">
            <form>
                <group>
                    <group>
                        <field name="sequence"/>
                        <field name="name"/>
                    </group>
                    <group>
                        <field name="note"/>
                    </group>
                </group>
            </form>
        </field>
    </record>

    <record id="optical_add_type_tree" model="ir.ui.view">
        <field name="name">optical.add.type.tree</field>
        <field name="model">optical.add.type</field>
        <field name="arch" type="xml">
            <tree>
                <field name="sequence" widget="handle"/>
                <field name="name"/>
                <field name="note"/>
            </tree>
        </field>
    </record>

    <!--Action add Types -->
    <record id="action_add_types" model="ir.actions.act_window">
        <field name="res_model">optical.add.type</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!--Menu add Types -->
    <menuitem id="menu_action_add_types" name="Add Types" parent="menu_optical_prescription_config" action="action_add_types" sequence="200"/>


    <record id="optical_prism_type_form" model="ir.ui.view">
        <field name="name">optical.prism.type.form</field>
        <field name="model">optical.prism.type</field>
        <field name="arch" type="xml">
            <form>
                <group>
                    <group>
                        <field name="sequence"/>
                        <field name="name"/>
                    </group>
                    <group>
                        <field name="note"/>
                    </group>
                </group>
            </form>
        </field>
    </record>

    <record id="optical_prism_type_tree" model="ir.ui.view">
        <field name="name">optical.prism.type.tree</field>
        <field name="model">optical.prism.type</field>
        <field name="arch" type="xml">
            <tree>
                <field name="sequence" widget="handle"/>
                <field name="name"/>
                <field name="note"/>
            </tree>
        </field>
    </record>

    <!--Action prism Types -->
    <record id="action_prism_types" model="ir.actions.act_window">
        <field name="res_model">optical.prism.type</field>
        <field name="view_mode">tree,form</field>
    </record>

   <!--Menu prism Types -->
    <menuitem id="menu_action_prism_types" name="PRISM Types" parent="menu_optical_prescription_config" action="action_prism_types" sequence="200"/>

</odoo>